## pandas
* 행에 열 레이블을 부착한 n차원 행렬 자료구조를 제공하는 파이썬 라이브러리
* 지원하는 자료구조는 Series, DataFrame, Panel임
* 단, 0.20이후로 Panel은 deprecated 됨
* numpy 기반으로 구현되어 처리속도가 빠름
* pandas의 창시자 중 한 명은 해지펀드 애널리스트로 일하며 파이썬에서 금융 시계열을 다루기 위한 목적으로 개발함
* pandas.pydata.org

In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

### pandas 자료구조 1 : series
* R의 벡터와 유사한 자료구조 : 1차원 배열
* pd.Series(데이터, 인덱스, 자료형)

In [5]:
# 빈 시리즈 생성
a = pd.Series(dtype='object')
a

Series([], dtype: object)

In [6]:
# numpy 배열을 시리즈로 생성
b = pd.Series([1,2,3,4,5])
b

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# 시리즈 생성시 인덱스 지정
c = pd.Series(data=[6,7,8,9,10], index=[1,2,3,4,5])
c

1     6
2     7
3     8
4     9
5    10
dtype: int64

In [11]:
# 시리즈 객체가 지원하는 여러가지 속성
c.values, c.index, c.dtype

(array([ 6,  7,  8,  9, 10]),
 Index([1, 2, 3, 4, 5], dtype='int64'),
 dtype('int64'))

In [11]:
# 시리즈 객체 실제로 numpy 배열타입임
type(c.values)

(array([ 6,  7,  8,  9, 10]),
 Index([1, 2, 3, 4, 5], dtype='int64'),
 dtype('int64'))

## 팬더스 indexer
* pandas에서 정수형 인덱스를 사용하는 경우
  파이썬의 slice 연산과 혼동할 위험 존재
* 따라서, pandas만의 특별한 요소지정방법 제공 - indexer
  + loc  : 문자형 인덱스로 요소 지정
  + iloc : 숫자형 인덱스로 요소 지정

In [12]:
d = pd.Series([9,8,7,6,5], index=['가','나','다','라','마'])

In [15]:
# 1번째 자료 지정
d[0], d.iloc[0], d.loc['가']

(9, 9, 9)

In [19]:
# 3번쨰 이후 나머지 자료들 지정
d[2:], d.iloc[2:], d.loc['다':]

(다    7
 라    6
 마    5
 dtype: int64,
 다    7
 라    6
 마    5
 dtype: int64,
 다    7
 라    6
 마    5
 dtype: int64)

In [23]:
# 홀수위치의 모든 자료들 지정
d[::2], d.iloc[::2], d.loc[['가','다','마']]
# 홀수 위치에 있는 인덱스들을 하나의 객체에 담기 위해서 대괄호 2개를 썼음

(가    9
 다    7
 마    5
 dtype: int64,
 가    9
 다    7
 마    5
 dtype: int64,
 가    9
 다    7
 마    5
 dtype: int64)

## dict 객체로 시리즈 객체 생성

In [24]:
data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
e = pd.Series(data)
e

a    1
b    2
c    3
d    4
e    5
dtype: int64

## pandas 자료구조 2 : dataframe
* R의 데이터프레임과 유사한 자료구조 : 2차원 테이블
* pd.DataFrame(데이터, 인덱스, 컬럼레이블, 자료형)

In [25]:
# 빈 데이터프레임 객체 생성
f = pd.DataFrame()
f

Empty DataFrame
Columns: []
Index: []

In [26]:
# 리스트로 데이터프레임 객체 생성
data = [1,2,3,4,5]
g = pd.DataFrame(data)
g  # 컬럼명이 없음

   0
0  1
1  2
2  3
3  4
4  5

In [28]:
g = pd.DataFrame(data, columns=['nums'])
g  # 컬럼명 출력

   nums
0     1
1     2
2     3
3     4
4     5

In [30]:
# 3행 2열짜리 배열로 성적 데이터프레임 객체 생성
data = [['지현',90], ['혜교',83], ['수지',99]]
cols = ['이름','점수']
idx = [1,2,3]
h = pd.DataFrame(data, columns=cols, index=idx)
h

   이름  점수
1  지현  90
2  혜교  83
3  수지  99

## dict 객체로 데이터프레임 객체 생성

In [32]:
data = { '이름' : ['지현','혜교','수지'],
         '점수' : [99,76,80] }
i = pd.DataFrame(data, index=idx)
i

   이름  점수
1  지현  99
2  혜교  76
3  수지  80

## Series 객체로 데이터프레임 객체 생성

In [37]:
name = pd.Series(['지현','혜교','수지'])
jumsu = pd.Series([99,76,80])
data = {'이름':name, '점수':jumsu}
j = pd.DataFrame(data) # 여기선 index를 지정하지 않음
j.index = idx          # index 직접 지정
j

   이름  점수
1  지현  99
2  혜교  76
3  수지  80

#### 데이터프레임 만들기 예제 - managers

In [43]:
manager = np.arange(1,5+1)
date = ['10/24/14','10/28/14','10/01/14','10/12/14','15/01/14']
country = ['US','US','UK','UK','UK']
gender = ['M','F','F','M','F']
age = [32,45,25,39,99]
q1 = [5,3,3,3,2]
q2 = [4,5,5,3,2]
q3 = [5,2,5,4,1]
q4 = [5,5,5,np.NAN,2]
q5 = [5,5,2,np.NAN,1]

In [44]:
data = {'manager':manager, 'date':date,
        'country':country, 'gender':gender, 'age':age,
        'q1':q1, 'q2':q2, 'q3':q3, 'q4':q4, 'q5':q5}
managers = pd.DataFrame(data)
managers.index = manager
managers

   manager      date country gender  age  q1  q2  q3   q4   q5
1        1  10/24/14      US      M   32   5   4   5  5.0  5.0
2        2  10/28/14      US      F   45   3   5   2  5.0  5.0
3        3  10/01/14      UK      F   25   3   5   5  5.0  2.0
4        4  10/12/14      UK      M   39   3   3   4  NaN  NaN
5        5  15/01/14      UK      F   99   2   2   1  2.0  1.0

#### 데이터프레임의 각 요소에 접근

In [47]:
# 나이 컬럼 출력
# 객체[컬럼명], 객체.iloc[:, 컬럼인덱스],
# 객체.loc[:, 컬럼명], 객체.컬럼명
managers['age'], managers.iloc[:, 4], managers.loc[:, 'age']

(1    32
 2    45
 3    25
 4    39
 5    99
 Name: age, dtype: int64,
 1    32
 2    45
 3    25
 4    39
 5    99
 Name: age, dtype: int64,
 1    32
 2    45
 3    25
 4    39
 5    99
 Name: age, dtype: int64)

In [49]:
# 질문(q1~q5) 컬럼 출력
# 객체명[[컬럼명1,컬럼명2,컬럼명3,...]]
managers[ ['q1','q2','q3','q4','q5'] ]

   q1  q2  q3   q4   q5
1   5   4   5  5.0  5.0
2   3   5   2  5.0  5.0
3   3   5   5  5.0  2.0
4   3   3   4  NaN  NaN
5   2   2   1  2.0  1.0

In [52]:
# 객체명.iloc[행, 시작:끝+1]
managers.iloc[:, 5:9+1]

   q1  q2  q3   q4   q5
1   5   4   5  5.0  5.0
2   3   5   2  5.0  5.0
3   3   5   5  5.0  2.0
4   3   3   4  NaN  NaN
5   2   2   1  2.0  1.0

In [53]:
# 객체명.loc[행, 시작컬럼명:끝컬럼명]
managers.loc[:, 'q1':'q5']

   q1  q2  q3   q4   q5
1   5   4   5  5.0  5.0
2   3   5   2  5.0  5.0
3   3   5   5  5.0  2.0
4   3   3   4  NaN  NaN
5   2   2   1  2.0  1.0

## 외부파일로 데이터프레임 만들기
* 외부 데이터파일을 이용해서 dataframe 객체를 만들수있음
* csv, excel, json, xml,... 등등  지원함
* pd.read_xxx(경로, 구분자, 헤더설정, 인코딩)

#### csv 파일 읽어 데이터프레임 생성

In [56]:
emp = pd.read_csv('./data/employees.csv', header=0, sep=',')
emp.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000.0,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000.0,NaN,103.0,60.0

In [58]:
# 데이터프레임 인덱스 재설정
idx = np.arange(1, len(emp.EMAIL)+1)
emp.index = idx
emp.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
1,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000.0,NaN,NaN,90.0
2,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,NaN,100.0,90.0
3,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000.0,NaN,100.0,90.0
4,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000.0,NaN,102.0,60.0
5,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000.0,NaN,103.0,60.0

In [59]:
# 데이터프레임의 구조 알아보기 : info
emp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 1 to 107
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMPLOYEE_ID     107 non-null    int64
 1   FIRST_NAME      107 non-null    object
 2   LAST_NAME       107 non-null    object
 3   EMAIL           107 non-null    object
 4   PHONE_NUMBER    107 non-null    object
 5   HIRE_DATE       107 non-null    object
 6   JOB_ID          107 non-null    object
 7   SALARY          107 non-null    float64
 8   COMMISSION_PCT  35 non-null     float64
 9   MANAGER_ID      106 non-null    float64
 10  DEPARTMENT_ID   106 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 10.0+ KB

#### xlxs 파일 읽어 데이터프레임 생성

In [60]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [63]:
# openpyxl를 설치해야 read_excel 불러올 수 있음
excels = pd.read_excel('data/excel-comp-data.xlsx')
excels.head()

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

#### json 파일 읽어 데이터프레임 생성

In [64]:
seoul_json = pd.read_json('./data/seoul_geo_simple.json')
seoul_json.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'code': '11...
1  FeatureCollection  {'type': 'Feature', 'properties': {'code': '11...
2  FeatureCollection  {'type': 'Feature', 'properties': {'code': '11...
3  FeatureCollection  {'type': 'Feature', 'properties': {'code': '11...
4  FeatureCollection  {'type': 'Feature', 'properties': {'code': '11...

In [69]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 100)
pd.set_option('display.max_colwidth', 250)

In [70]:
seoul_json.head()

,type,features
0,FeatureCollection,"{'type': 'Feature', 'properties': {'code': '11250', 'name': '강동구', 'name_eng': 'Gangdong-gu', 'base_year': '2013'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[127.11519584981606, 37.557533180704915], [127.11879551821994, 37.557222485451305..."
1,FeatureCollection,"{'type': 'Feature', 'properties': {'code': '11240', 'name': '송파구', 'name_eng': 'Songpa-gu', 'base_year': '2013'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[127.0690698130372, 37.522279423505026], [127.07496309841329, 37.52091052765938], [..."
2,FeatureCollection,"{'type': 'Feature', 'properties': {'code': '11230', 'name': '강남구', 'name_eng': 'Gangnam-gu', 'base_year': '2013'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[127.05867359288398, 37.52629974922568], [127.0690698130372, 37.522279423505026], ..."
3,FeatureCollection,"{'type': 'Feature', 'properties': {'code': '11220', 'name': '서초구', 'name_eng': 'Seocho-gu', 'base_year': '2013'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[127.01397119667513, 37.52503988289669], [127.01917707838057, 37.520085205855196], ..."
4,FeatureCollection,"{'type': 'Feature', 'properties': {'code': '11210', 'name': '관악구', 'name_eng': 'Gwanak-gu', 'base_year': '2013'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[126.98367668291802, 37.473856492692086], [126.9846374349825, 37.46996301876212], [..."

#### html의 table태그를 읽어 데이터프레임 생성

In [71]:
import requests
from bs4 import BeautifulSoup

In [136]:
url = 'https://www.hanbit.co.kr/store/books/full_book_list.html'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36 Edg/94.0.992.50'}

In [137]:
res = requests.get(url, headers=headers)
tables = pd.read_html(res.text)

In [138]:
tables[1].head()

     브랜드                 도서명                       저자         발행일       정가
0  한빛미디어        핸즈온 머신러닝(3판)  오렐리앙 제롱(Aurélien Géron)  2023-09-29  60,000원
1   한빛비즈       한 단어의 힘 (개정판)                  에번 카마이클  2023-09-18  18,900원
2   한빛비즈             글로벌 클래스             에런 맥대니얼 외 1명  2023-09-15  28,000원
3  한빛라이프  모든 멋진 일에는 두려움이 따른다                       이연  2023-09-15  16,800원
4  한빛미디어      만들면서 배우는 생성 AI                 데이비드 포스터  2023-09-15  39,000원

#### yes24.co.kr에서 베스트셀러 페이지의 도서를 데이터프레임으로 생성하기
* IT모바일 카테고리의 베스트셀러를 대상
* 단, 신상품으로 정렬한 뒤, 도서를 추출

In [143]:
url = 'https://www.yes24.com/24/category/bestseller?CategoryNumber=001001003&sumgb=06&ParamSortTp=04'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36 Edg/94.0.992.50'}

In [144]:
res = requests.get(url, headers=headers)

In [145]:
bests = pd.read_html(res.text)
bests[0].head()

,0,1,2,3
0,1.0,NaN,"[도서] 핵심만 골라 배우는 SwiftUI 기반의 iOS 프로그래밍(개정증보판) : SwiftUI, Xcode, 스위프트 언어로 iOS 앱 개발하기-I♥Mobile 42 닐 스미스 저/황반석 역 | 제이펍 | 2023년 09월 33,000원 →29,700원(10% 할인) | YES포인트 1,650원(5% 지급) 2023년 09월 21일 발송예정 (예약판매) (예정일 이후 1~2일 이내 받을 수 있습니다.) 수량",NaN
1,NaN,NaN,"SwiftUI 중심으로 살펴보는 iOS 프로그래밍의 모든 것 SwiftUI, Xcode 14 및 스위프트 5.7 프로그래밍 언어를 사용하여 iOS 16 애플리케이션을 만드는 데 필요한 기술을 담았다. iOS 개발 환경 구축부터 친절하게 예제 코드와 함께 설명한다. 데이터 타입, 제어문, 함수 등 스위프트 언어 기초부터 시작해 Xcode의 Swif...","SwiftUI 중심으로 살펴보는 iOS 프로그래밍의 모든 것 SwiftUI, Xcode 14 및 스위프트 5.7 프로그래밍 언어를 사용하여 iOS 16 애플리케이션을 만드는 데 필요한 기술을 담았다. iOS 개발 환경 구축부터 친절하게 예제 코드와 함께 설명한다. 데이터 타입, 제어문, 함수 등 스위프트 언어 기초부터 시작해 Xcode의 Swif..."
2,2.0,NaN,"[도서] 캐릭터 제작을 위한 블렌더 3D 모델링&렌더링 : 한 권으로 끝내는 3D 모델링 교과서-된다! 시리즈 3dtotal Publishing 저/안동현 역 | 이지스퍼블리싱 | 2023년 09월 31,000원 →27,900원(10% 할인) | YES포인트 1,550원(5% 지급) 19시까지 주문하면 내일(9/12, 화) 도착예정 수량",NaN
3,NaN,NaN,"업무에서 취미까지 당신을 성장시킬 된다! 시리즈 (21.07.27 ~ 한정 수량) 블렌더 재단에서 ‘공식 인증'한 저자 집필! 3D 기초부터 모델링, 스컬프팅, 토폴로지, 렌더링까지! 예비 캐릭터 아티스트에게 추천하는 최적의 루트로 배우세요! 블렌더 3D, 요즘 대세라는 건 알고 있는데 배우기 막막했다면? 블렌더 재단이 인증한 트레이너가 집필한 이 책을 만나 보자! 3D 모델링 기초 프로젝트와 ...","업무에서 취미까지 당신을 성장시킬 된다! 시리즈 (21.07.27 ~ 한정 수량) 블렌더 재단에서 ‘공식 인증'한 저자 집필! 3D 기초부터 모델링, 스컬프팅, 토폴로지, 렌더링까지! 예비 캐릭터 아티스트에게 추천하는 최적의 루트로 배우세요! 블렌더 3D, 요즘 대세라는 건 알고 있는데 배우기 막막했다면? 블렌더 재단이 인증한 트레이너가 집필한 이 책을 만나 보자! 3D 모델링 기초 프로젝트와 ..."
4,3.0,NaN,"[도서] 리그 오브 레전드 플레이어 중심주의 : 게임에서 문화로, 〈리그 오브 레전드〉를 만든 라이엇 게임즈 인사이드 이야기 오진호 저 | 골든래빗 | 2023년 09월 20,000원 →18,000원(10% 할인) | YES포인트 1,000원(5% 지급) 회원리뷰 (2개) | 내용 | 편집구성 19시까지 주문하면 내일(9/12, 화) 도착예정 수량",NaN

In [146]:
# 도서제목 : 도서정보에서 3번째 컬럼의 홀수행만 추출
bookinfo = bests[0].iloc[0::2, 2]
bookinfo.index = np.arange(1, len(bookinfo)+1)
bookinfo[:5]

1    [도서] 핵심만 골라 배우는 SwiftUI 기반의 iOS 프로그래밍(개정증보판) : SwiftUI, Xcode, 스위프트 언어로 iOS 앱 개발하기-I♥Mobile 42 닐 스미스 저/황반석 역 | 제이펍  | 2023년 09월  33,000원 →29,700원(10% 할인) | YES포인트 1,650원(5% 지급) 2023년 09월 21일 발송예정 (예약판매)  (예정일 이후 1~2일 이내 받을 수 있습니다.)  수량
2                                               [도서] 캐릭터 제작을 위한 블렌더 3D 모델링&렌더링 : 한 권으로 끝내는 3D 모델링 교과서-된다! 시리즈 3dtotal Publishing 저/안동현 역 | 이지스퍼블리싱  | 2023년 09월  31,000원 →27,900원(10% 할인) | YES포인트 1,550원(5% 지급) 19시까지 주문하면 내일(9/12, 화) 도착예정  수량
3                                         [도서] 리그 오브 레전드 플레이어 중심주의 : 게임에서 문화로, 〈리그 오브 레전드〉를 만든 라이엇 게임즈 인사이드 이야기 오진호 저 | 골든래빗  | 2023년 09월  20,000원 →18,000원(10% 할인) | YES포인트 1,000원(5% 지급) 회원리뷰 (2개) | 내용 | 편집구성 19시까지 주문하면 내일(9/12, 화) 도착예정  수량
4                                                                                                                           [도서] 스테이블 디퓨전 마스터북 박철우 저 | e비즈북스  | 2023년 09월  19,000원 →17,100원(10% 할인) | YES포인트 950원(5% 지급) 1일 이내(9/12, 화) 출고예정  수량
5                         [도서] 핸즈온 머신러닝 : 사이킷런, 케라스, 텐서플로 2로 완벽 이해하는 머신러닝, 딥러닝 이론 & 실무(전2권, 3판) 오렐리앙 제롱 저/박해선 역 | 한빛미디어  | 2023년 09월  60,000원 →54,000원(10% 할인) | YES포인트 3,000원(5% 지급) 2023년 09월 27일 발송예정 (예약판매)  (예정일 이후 1~2일 이내 받을 수 있습니다.)  수량
Name: 2, dtype: object

In [147]:
# 도서설명 : 도서정보에서 4번째 컬럼의 짝수행만 추출
bookdescs = bests[0].iloc[1::2, 3]
bookdescs.index = np.arange(1, len(bookdescs)+1)
bookdescs[:5]

1                                      SwiftUI 중심으로 살펴보는 iOS 프로그래밍의 모든 것 SwiftUI, Xcode 14 및 스위프트 5.7 프로그래밍 언어를 사용하여 iOS 16 애플리케이션을 만드는 데 필요한 기술을 담았다. iOS 개발 환경 구축부터 친절하게 예제 코드와 함께 설명한다. 데이터 타입, 제어문, 함수 등 스위프트 언어 기초부터 시작해 Xcode의 Swif...
2          업무에서 취미까지 당신을 성장시킬 된다! 시리즈 (21.07.27 ~ 한정 수량) 블렌더 재단에서 ‘공식 인증'한 저자 집필! 3D 기초부터 모델링, 스컬프팅, 토폴로지, 렌더링까지! 예비 캐릭터 아티스트에게 추천하는 최적의 루트로 배우세요! 블렌더 3D, 요즘 대세라는 건 알고 있는데 배우기 막막했다면? 블렌더 재단이 인증한 트레이너가 집필한 이 책을 만나 보자! 3D 모델링 기초 프로젝트와 ...
3    리그 오브 레전드 플레이어 중심주의 출간 기념 커피 증정 이벤트 (23.09.08 ~ 23.09.22) - 게임에서 문화로, 〈리그 오브 레전드〉 최초의 인사이드 이야기 - 라이엇 게임즈의 ‘플레이어 중심주의’는 무엇인가? 〈리그 오브 레전드〉는 어떻게 e스포츠를 넘어 문화로까지 성장할 수 있었을까? 그 해답은 우리말로 ‘플레이어 중심주의’라고 할 수 있는 ‘플레이어 포커스’에 있다. ‘플레이어 포커스’는...
4                                                              스테이블 디퓨전과 함께라면 당신도 금손 화가! 꼼꼼하고 친절한 스테이블 디퓨전 마스터북! 고흐의 화풍을 흉내낼 수 있는 사람이 몇이나 될까? 하지만 인공지능을 이용하면 누구나 가능하다. 프롬프트에 ‘고흐 스타일’이라고 넣으면 된다! 탁월한 그림 퀄리티와 무료 공개에 힘입어 전 세계 개발자와 사용자를 확보...
5                                                           실무 밀착형 예제부터 스테이블 디퓨전 등 최신 머신러닝 트렌드까지 주요 인공 지능 콘퍼런스에서 전문가들이 소개한 최고의 실전 지침서 ** 독자의 편의를 고려한 분권(1권, 2권) ** 최신 라이브러리 버전으로 전체 코드 업데이트 ** 〈연습문제 + 해답〉, 〈머신러닝 프로젝트 체크리스트〉 수록 수학에 『수학의...
Name: 3, dtype: object

In [151]:
# 합치기
bookdata = {'bkinfo': bookinfo, 'bkdesc': bookdescs}
bestbooks = pd.DataFrame(bookdata)
bestbooks.head()

,bkinfo,bkdesc
1,"[도서] 핵심만 골라 배우는 SwiftUI 기반의 iOS 프로그래밍(개정증보판) : SwiftUI, Xcode, 스위프트 언어로 iOS 앱 개발하기-I♥Mobile 42 닐 스미스 저/황반석 역 | 제이펍 | 2023년 09월 33,000원 →29,700원(10% 할인) | YES포인트 1,650원(5% 지급) 2023년 09월 21일 발송예정 (예약판매) (예정일 이후 1~2일 이내 받을 수 있습니다.) 수량","SwiftUI 중심으로 살펴보는 iOS 프로그래밍의 모든 것 SwiftUI, Xcode 14 및 스위프트 5.7 프로그래밍 언어를 사용하여 iOS 16 애플리케이션을 만드는 데 필요한 기술을 담았다. iOS 개발 환경 구축부터 친절하게 예제 코드와 함께 설명한다. 데이터 타입, 제어문, 함수 등 스위프트 언어 기초부터 시작해 Xcode의 Swif..."
2,"[도서] 캐릭터 제작을 위한 블렌더 3D 모델링&렌더링 : 한 권으로 끝내는 3D 모델링 교과서-된다! 시리즈 3dtotal Publishing 저/안동현 역 | 이지스퍼블리싱 | 2023년 09월 31,000원 →27,900원(10% 할인) | YES포인트 1,550원(5% 지급) 19시까지 주문하면 내일(9/12, 화) 도착예정 수량","업무에서 취미까지 당신을 성장시킬 된다! 시리즈 (21.07.27 ~ 한정 수량) 블렌더 재단에서 ‘공식 인증'한 저자 집필! 3D 기초부터 모델링, 스컬프팅, 토폴로지, 렌더링까지! 예비 캐릭터 아티스트에게 추천하는 최적의 루트로 배우세요! 블렌더 3D, 요즘 대세라는 건 알고 있는데 배우기 막막했다면? 블렌더 재단이 인증한 트레이너가 집필한 이 책을 만나 보자! 3D 모델링 기초 프로젝트와 ..."
3,"[도서] 리그 오브 레전드 플레이어 중심주의 : 게임에서 문화로, 〈리그 오브 레전드〉를 만든 라이엇 게임즈 인사이드 이야기 오진호 저 | 골든래빗 | 2023년 09월 20,000원 →18,000원(10% 할인) | YES포인트 1,000원(5% 지급) 회원리뷰 (2개) | 내용 | 편집구성 19시까지 주문하면 내일(9/12, 화) 도착예정 수량","리그 오브 레전드 플레이어 중심주의 출간 기념 커피 증정 이벤트 (23.09.08 ~ 23.09.22) - 게임에서 문화로, 〈리그 오브 레전드〉 최초의 인사이드 이야기 - 라이엇 게임즈의 ‘플레이어 중심주의’는 무엇인가? 〈리그 오브 레전드〉는 어떻게 e스포츠를 넘어 문화로까지 성장할 수 있었을까? 그 해답은 우리말로 ‘플레이어 중심주의’라고 할 수 있는 ‘플레이어 포커스’에 있다. ‘플레이어 포커스’는..."
4,"[도서] 스테이블 디퓨전 마스터북 박철우 저 | e비즈북스 | 2023년 09월 19,000원 →17,100원(10% 할인) | YES포인트 950원(5% 지급) 1일 이내(9/12, 화) 출고예정 수량",스테이블 디퓨전과 함께라면 당신도 금손 화가! 꼼꼼하고 친절한 스테이블 디퓨전 마스터북! 고흐의 화풍을 흉내낼 수 있는 사람이 몇이나 될까? 하지만 인공지능을 이용하면 누구나 가능하다. 프롬프트에 ‘고흐 스타일’이라고 넣으면 된다! 탁월한 그림 퀄리티와 무료 공개에 힘입어 전 세계 개발자와 사용자를 확보...
5,"[도서] 핸즈온 머신러닝 : 사이킷런, 케라스, 텐서플로 2로 완벽 이해하는 머신러닝, 딥러닝 이론 & 실무(전2권, 3판) 오렐리앙 제롱 저/박해선 역 | 한빛미디어 | 2023년 09월 60,000원 →54,000원(10% 할인) | YES포인트 3,000원(5% 지급) 2023년 09월 27일 발송예정 (예약판매) (예정일 이후 1~2일 이내 받을 수 있습니다.) 수량","실무 밀착형 예제부터 스테이블 디퓨전 등 최신 머신러닝 트렌드까지 주요 인공 지능 콘퍼런스에서 전문가들이 소개한 최고의 실전 지침서 ** 독자의 편의를 고려한 분권(1권, 2권) ** 최신 라이브러리 버전으로 전체 코드 업데이트 ** 〈연습문제 + 해답〉, 〈머신러닝 프로젝트 체크리스트〉 수록 수학에 『수학의..."

### 데이터프레임을 파일에 저장하기
* 객체명.to_xxx(경로)

In [130]:
managers.to_csv('./data/manager.csv', index=False)

In [141]:
# 한빛미디어 전체도서 csv로 저장
tables[1].정가 = tables[1].정가.str.replace('','')
tables[1].정가 = tables[1].정가.str.replace('원','')
tables[1].to_csv('./data/hanbbooks.csv', index=False)

In [152]:
# yes24 베스트도서 csv로 저장
bestbooks.bkinfo = bestbooks.bkinfo.str.replace('[도서] ','')
bestbooks.to_csv('./data/yes24best.csv', index=False)